div#root {
	width: 300px;
	height: 100px;
}

.switch {
	height: 100%;
	width: 100%;
	background-color: gray;
	position: relative;
	z-index: 20;
	border-radius: 70px;
}

.slider {
	height: 100%;
	width: 50%;
	z-index: 10;
	background-color: white;
	float: left;
	border-radius: 50px;
}

.slider.enabled {
	transform: translateX(100%);
	transition: 0.3s ease;
}
.slider.disabled {
	transform: translateX(0%);
	transition: 0.3s ease;
}